// sidebar
$side-collapsed-width: 64px;
$side-width: 240px;
$menu-collapsed-width: 64px;
$menu-collapsed-icon-size: 22px;

// Navbar
$nav-height: 60px;

// AppMain
$main-top: 61px;

// routerView
$router-view-top: 40px;
