// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
// JS 与 scss 共享变量，在 scss 中通过 :export 进行导出，在 js 中可通过 ESM 进行导入
:export {
  sideCollapsedWidth: $side-collapsed-width;
  sideWidth: $side-width;
  menuCollapsedWidth: $menu-collapsed-width;
  menuCollapsedIconSize: $menu-collapsed-icon-size;
  navHeight: $nav-height;
  mainTop: $main-top;
}
